article{
	margin: 100px 30px;
	background-color: white;
	display: flex;
}

:root {
	--color1:#1de8b5;
	--color1dark:#00b585;
	--dark-gray:#263238;
	--light-gray:#eceff1;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--light-gray);
}


#rightBox{
	width: 25%;
	box-sizing: border-box;
	padding: 10px;
}

#leftBox{
	width: 75%;
	padding: 10px;
	box-sizing: border-box;
	border-right: 1px solid grey;
}